@import "tailwindcss";
@import "./flowbite.css";
@source inline("bg-[url(/assets/bg1.jpg)]");
@source inline("bg-[url(/assets/bg2.jpg)]");
@source inline("bg-[url(/assets/bg3.jpg)]");
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --radius-5xl: 3rem;
}

.material-symbol {
  @apply align-middle font-[Material_Symbols_Rounded] font-normal not-italic;
}

* {
  transition:
    background-color cubic-bezier(0.68, -0.55, 0.27, 1.55) 0.3s,
    color cubic-bezier(0.68, -0.55, 0.27, 1.55) 0.3s;

  @apply font-sans;
}

.h-fill {
  height: -webkit-fill-available;
}
/* * {
  outline: 1px dashed rgba(255, 0, 0, 0.3);
} */
